*.pyc
ChangeLog
Makefile.in
aclocal.m4
atk-adaptor/Makefile.in
autom4te.cache
config.h.in
config.h.in~
config
configure
cspi/Makefile.in
dbind/Makefile.in
droute/Makefile.in
login-helper/Makefile.in
registryd/Makefile.in
spi-common/Makefile.in
tests/Makefile.in
tests/apps/Makefile.in
tests/cspi/Makefile.in
tests/dummyatk/Makefile.in
tests/pyatspi/Makefile.in
tools/Makefile.in
xml/Makefile.in
xml/introspection/org.freedesktop.atspi.*
