*.o
*.a
*.lo
*.la
*.stamp
*.bak
*.tmp
*.swp
*.gir
*.typelib
.tm*
~*

/autom4te.cache

/INSTALL
Makefile
Makefile.in
/aclocal.m4
/atk.pc
/config.guess
/config.h
/config.h.in
/config.h.win32
/config.log
/config.status
/config.sub
/configure
/depcomp
/gtk-doc.make
/install-sh
/libtool
/ltmain.sh
/missing
/mkinstalldirs
/stamp-h1
atkversion.h
tests/testrelation
tests/testrole
tests/teststateset
docs/.libs
docs/atk.args
docs/atk.hierarchy
docs/atk.interfaces
docs/atk.prerequisites
docs/atk.signals
docs/atk.signals
docs/atk-decl-list.txt
docs/atk-decl.txt
docs/atk-overrides.txt
docs/atk-undeclared.txt
docs/atk-undocumented.txt
docs/atk-unused.txt
docs/html
docs/tmpl
docs/xml

# Meson
/subprojects/*/
