*.o
*.a
*.lo
*.la
*.stamp
*.bak
*.tmp
*.swp
*.gir
*.typelib
.tm*
~*

/autom4te.cache

/INSTALL
Makefile
Makefile.in
/aclocal.m4
/atk-uninstalled.pc
/atk-zip.sh
/atk.pc
/atk.spec
/config.guess
/config.h
/config.h.in
/config.h.win32
/config.log
/config.status
/config.sub
/configure
/depcomp
/gtk-doc.make
/install-sh
/libtool
/ltmain.sh
/missing
/mkinstalldirs
/stamp-h1
atkversion.h
tests/testrelation
tests/testrole
tests/teststateset
docs/.libs
docs/atk.args
docs/atk.hierarchy
docs/atk.interfaces
docs/atk.prerequisites
docs/atk.signals
docs/html
docs/tmpl/atkaction.sgml
docs/tmpl/atkcomponent.sgml
docs/tmpl/atkdocument.sgml
docs/tmpl/atkhyperlinkimpl.sgml
docs/tmpl/atkobject.sgml
docs/tmpl/atkmisc.sgml
docs/tmpl/atktext.sgml
docs/tmpl/atkplug.sgml
docs/tmpl/atksocket.sgml
docs/tmpl/atkutil.sgml
docs/tmpl/atkversion.sgml
docs/tmpl/atkwindow.sgml
docs/atk.signals
docs/xml
docs/atk-decl-list.txt
docs/atk-decl.txt
docs/atk-undeclared.txt
docs/atk-undocumented.txt
docs/atk-unused.txt
docs/tmpl/atkeditabletext.sgml
docs/tmpl/atkgobjectaccessible.sgml
docs/tmpl/atkhyperlink.sgml
docs/tmpl/atkhypertext.sgml
docs/tmpl/atkimage.sgml
docs/tmpl/atknoopobject.sgml
docs/tmpl/atknoopobjectfactory.sgml
docs/tmpl/atkobjectfactory.sgml
docs/tmpl/atkregistry.sgml
docs/tmpl/atkrelation.sgml
docs/tmpl/atkrelationset.sgml
docs/tmpl/atkselection.sgml
docs/tmpl/atkstate.sgml
docs/tmpl/atkstateset.sgml
docs/tmpl/atkstreamablecontent.sgml
docs/tmpl/atktable.sgml
docs/tmpl/atkvalue.sgml
